@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.content {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.social-network-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    background-color: #ee6c4d;
}
.navbar {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: #003049;
}
.navbar-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.navbar-title h1{
    margin: 0;
    color: #ffffff;
}
.navbar-title h4{
    margin: 0 0 0 40px;
    color: #f48c06;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 60%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    list-style-type: none;
}
.navbar-links li {
    padding: 20px;
}
.navbar-links li#Home {
    cursor: pointer;
    transition: 0.3s;
}
.navbar-links li:hover#Home{
    color: #ee6c4d;
    transform: translateY(-5px);
}
.navbar-links li#Menu {
    cursor: pointer;
    transition: 0.3s;
}
.navbar-links li:hover#Menu{
    color: #ee6c4d;
    transform: translateY(-5px);
}
.navbar-links li#Contact {
    cursor: pointer;
    transition: 0.3s;
}
.navbar-links li:hover#Contact{
    color: #ee6c4d;
    transform: translateY(-5px);
}
.navbar-links-selected{
    transform: translateY(-5px);
    text-decoration: underline;
}
.container-background{
    flex-grow: 1;
    display: flex;
    background-color: #e5e5e5;
}
.background-main{
    position:relative;
    flex-grow: 1;
    overflow: hidden;
}
.background-main img {
    top: -75px;
    position: absolute;
    height: auto;
}
.background-main-shadow {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 20;
}
.background-text {
    display: flex;
    top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.background-text h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 37px;
    margin: auto;
}
.background-text h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 27px;
}
.reserve-button{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #ee6c4d;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease 0s;
    color: white;
}
.reserve-button:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: black;
    transform: translateY(-7px);
}
.anim-move-right{
    transform: translateX(750px);
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
.anim-move-left{
    transform: translateX(-750px);
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
.pic-hidden{
    opacity: 0;
}
.anim-pic-fade-out{
    opacity: 0;
    transition: 0.5s;
}
.anim-pic-fade-in{
    opacity: 1;
    transition: 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes movefromright {
    from { transform: translateX(-750px); }
    to { transform: translateX(0px); }
}
.anim{
    animation: fadein 0.5s ease-in;
}
.anim-from-right{
    animation: movefromright 0.7s;
}
@media only screen and (max-width: 600px) {
    .background-text h1 {
        font-size: 25px;
        margin: auto;
    }
    .background-text h3 {
        padding: 0 20px 0 20px;
        font-size: 17px;
    }
}